* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #223047;
  height: 100vh;
}

.elementWrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.elementWrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
